/* Aqui tenemos el jumbotron */
.jumbotron{  
    background-image: url("https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    padding: 200px 10px 300px 0px;
}

.titulo{
    color:#444047;
    text-align:center;
    align-items: center;
    font-family: 'Lobster',cursive;
    text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
   -1px 1px 0 #fff,
    1px 1px 0 #fff;
    font-size: 70px;
    /*estos si fueran 20 seria 20% del ancho de la pagina */
    font-size: 10vw;
}
  
/* Si dejamos con . esto nos ayudar a algo en especifico AQUI TENEMOS NUESTROS BOTONES. */
.card-design{
    flex: 1 250px;  
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
    align-items: center;
    text-align: center;
}

.btn{
    background-color: lightgray;
    color: black;
}


/* En esta parte encontramos todo lo modificado de nuestro footer */

/* aqui pongo el color de el footer que es la parte de abajo de las redes sociales */
.page-footer{
    background-color: #2F4F4F;
}

/* aqui modifico todas las hr que son las barritas que estan abajo de cada columna del footer */
hr{
   width:95px;
   height: 2px;
   display: inline-block;
}

/* aqui modifico todas las ul que son las listas desplegadas hacia abajo */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* aqui modifico todas las h6 que son los titulos de el footer */
h6{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.carousel-inner{
    background-position: center;
    background-size: cover;
}

.breadcrumb{
    background-size: cover ;
    margin: auto;
}

.map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}